.aboutus{
    width: 100%;
    background-color: rgb(241, 238, 241);
    height: auto;
    padding: 3% 2%;
    display: flex;
    flex-direction: column;
    margin: 6% 0 0 0;
}
.about-title{
    color: rgb(86, 85, 85);
    text-align: center;
}
#team{
    text-align: center;
    color: rgb(165, 163, 163);
    font-size: 85%;
    margin: 0 2.5%;
}
.about-desc{
    width: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    text-align: center;
}
.horizon{
    width: 45%;
    height: 2px;
    margin: 4.5% 0 0 0;
    background-color: rgb(156, 156, 156);
}
.about-row{
    width: 100%;
    margin: 2% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about-card{
    text-align: center;
    width:30%;
}
.about-img{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50px;
    margin: 0 auto;
    overflow: hidden;
}
.about-img img{
    width: 90%;
    position: relative;
    /* border-radius: 50px; */
}
.about-name{
    margin: 2% 0 0 0;
    font-size: 80%;
}
.about-mail{
    font-size: 80%;
}
.about-mail i{
    margin-right: 2%;
}

@media only screen and (max-width: 500px) {
    .aboutus{
        margin: 20% 0 0 0;
    }
    .about-desc{
        width: 20%;
    }
    #team{
        margin-right: 5%;
        margin-left: 5%;
    }
    .horizon{
        width: 40%;
        margin: 7% 0 0 ;
    }
    .about-row{
        margin: 5% 0 0 0;
        flex-direction: column;
    }
    .about-card{
        width: 60%;
        margin: 3% auto;
    }

}
