.home-slide{
  z-index: 10;
  background-color: white ;
  margin-top: 10%;
  position: relative;
  box-shadow: 3px 3px 9px rgb(36, 36, 36);
  overflow: hidden;
}

/* explore btn  */
.explore{
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50px;
  color: rgb(128, 64, 192);
  background-color: rgb(128, 64, 192);
  box-shadow: 1px 2px 10px rgba(136, 136, 136, 0.5);
  animation: border 2s ease-in-out infinite;
  padding: 0 auto 0 auto;
  overflow: hidden ;
  margin: 5% 0 0 49%;
  position: absolute;
  display: flex;
  flex-direction: row;
  transition: all .3s ease-in;
}
.explore-icon{
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 10%;
  border-radius:50px ;
}
.explore-icon i{
  font-size: 160%;
  color: white;
}
.explore-text{
  display: none;
  font-weight: 500;
  padding: 5% 0 2%;
}
.explore:hover{
  width: auto;
  padding-right:.75% ;
  background-color: rgb(162, 64, 192);
  margin-right: 10%;
}
.explore:hover .explore-text{
  display: flex;
  flex-direction: row;
  color: white;
}
.explore:hover .explore-icon{
  padding-top: 3%;
  transform: rotate(360deg);
}

/* upload btn  */
.upload-wraper{
  height: 40px;
  width: 40px;
  z-index: 11;
  position: fixed;
  border-radius: 50px;
  /* background-color: white; */
  background-color: rgb(128, 64, 192);
  cursor: pointer;
  right: 0;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(136, 136, 136, 0.9);
  transition: all 0.4s ease-out ;
  overflow: hidden;
  margin: 0 1% 0;
}
.upload-btn{
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.upload-icon{
  height: 40px;
  width: 40px;
  color: white;
  /* color: rgb(162, 64, 192); */
  /* color: rgb(128, 64, 192); */
  font-weight: 500;
  font-size: 140%;
  padding:5% 0 0;
  transition: all 0.4s ease-out;
}
.upload-text{
  display: none;
  font-size: 85%;
  font-weight: 500;
  padding: 5% 0 0 2% ;
  white-space: nowrap;
}
.upload-wraper:hover{
  width: 170px;
  box-shadow: 0px 3px 8px rgba(136, 136, 136, 0.5);
  /* background-color: rgb(128, 64, 192); */
  background-color: rgb(162, 64, 192);
}
.upload-wraper:hover .upload-text{
  display: inline-block;
  color: white;
}
.upload-wraper:hover .upload-icon{
  color: white;
  padding: 2% 0 0 5%;
  transform: rotate(360deg);
}

/* cards  */
.card-cont{
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom:2%;
  box-shadow: 3px 2px 5px rgb(151, 150, 150);
}
.cards{
  padding: 0 2% 1% 2%;
}
.image_div{
  width: 100%;
  box-shadow: inset 2px 0 2px -2px grey;
}
.image_div .img{
  width: 100%;
  height: 150px;
}
.content h4{
  margin-left: 3%;
  font-size: 110%;
}
.content{
  width: 100%;
  text-align: left;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-all;
}
.content span{
  width: 100%;
}
.disc{
  width: 100%; 
  padding: 0 10px 0 10px;
  font-size: 11px;
  height: 40px;
  word-wrap: break-word;
  overflow-wrap: break-word ;
}
.card-stars{
  font-size: 100%;
  margin-left:4%;
}
/* .review{
  display: flex;
  flex-direction: row;
  width: 100%;
} */
.save{
  width: 21.1%;
  text-align: right;
  position: absolute;
  padding:0.5% 1% 0;
  font-size: x-large;
}
.save i{
  color: white;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.about{
  margin-top: 2%;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.about span{
  margin: 0 10px 0 10px;
}
.sale{
  text-align: left;
  font-size: 14px;
}
.price{
  font-size: 22px;
  width: 10%;
  line-height: 1px;
  padding-top: 7px;
  font-weight: 500;
  text-align: center;
}
.addtocart{
  font-weight: 500; 
}
.cartbtn{
  width: 90%;
  border: none;
  border-radius: 3px;
  background-color: rgb(90, 45, 134);
  color: whitesmoke;
  padding:5% 1% 5% 1%;
}
.icon{
  padding: 1% 0 1% 0;
  margin-top: 2%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 85%;
  overflow: hidden;
  bottom: 0px;
}
.previewbtn{
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: white;
  color: rgb(90, 45, 134);
  padding:5% 0 5% 0;
}
.topreview{
  font-weight: 500;
  padding-top: -5px;
}
.icon .previewicon{
  width: 39%;
  margin-right: 5%;
}
.icon .pre{
  width: 50%;
}
.icon .pre i{
  font-size: medium;
  margin-right: 6%;
}
.icon .previewicon i{
  font-size: medium;
  margin-right: 6%;
}


.searchbar{
  width: 50%;
  margin: 5% auto 0 auto;
  padding: .5% 1% .5% 1%;
  height: auto;
  display: flex;
  border: #7358b7 2px solid;
  border-radius: 20px;
}
.search-icon{
  width: 7%;
}
.search-icon i{
  font-size: 125%;
  margin-top: 10%;
  color: rebeccapurple; 
}
.search-input{
  width: 90%;
}
.search-input input{
  width: 90%;
  font-size: medium;
  border: none;
  color: rgb(59, 59, 59);
} 
.search-input input:focus{
  outline: none;
  caret-color:#7358b7;
  caret-shape: bar;
}
.trending{
  font-size: x-large;
  font-weight: bold;
  color: rgb(83, 83, 83);
  margin:3% 0 1% 3.5%; 
}
.seemore{
  float: right;
  padding-right:4.5% ;
  font-size: larger;
  color: #7358b7;
}
@media only screen and (min-width:480px) and (max-width:785px){
  .explore{
    margin-top: 0;
  }
  .card-cont{
    width: 100%;
    margin: 2% auto 0 auto;
  }
  .image_div .img{
    height: 120px;
  }
  .content h4{
    font-size: 100%;
  }
  .disc{
    font-size: 60%;
  }
  .stars{
    font-size: 12px;
  }
  .sale{
    font-size: 14px;
  }
  .price{
    font-size: 22px;
  }
  .icon{
    height: 40px;
  }
  .icon .pre{
    margin-top: 1%;
  }
  .icon .pre i{
    font-size: 22px;
  }
  .searchbar{
    width: 70%;
    padding: .5% 2% .5% 2%;
  }
  .search-icon{
    width: 8%;
  }
  .seemore{
    width: 100%;
    font-size: medium; 
    text-align: right;
  }
}
  @media only screen and (max-width: 480px) {
    .temp{
      width: 93%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      margin: 0 auto 0 auto;
    }
    .explore{
      position: absolute;
      margin-top: -5%;
    }
    .upload-wraper{
      margin-bottom: 20%;
    }
    .upload-wraper:hover .upload-text{
      padding: 6% 0 0 2%;
    }
    .cards{
      height: auto;
      width: 500%;
      background-color: rgb(217, 217, 247);
      padding: 0 0 1% ;
      display: flex;
      flex-direction: row;
    }
    .trending{
      margin: 7% 0 3% 3% ;
    }
    .seemore{
      width: 100%;
      font-size: medium;
      text-align: right;
    }
    ::-webkit-scrollbar{
      height: 5px;
    }
    ::-webkit-scrollbar-track{
       background-color: rgb(248, 246, 246);
   }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(64, 9, 128);
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: grey;
    }
    .card-cont{
      width: 90%;
      height: 295px;
      margin: 2% auto 0 auto;
    }
    .image_div .img{
      height: 120px;
    }
    .content h4{
      font-size: 100%;
    }
    .disc{
      font-size: 11px;
    }
    .stars{
      font-size: 15px;
      margin-left:3%;
    }
    .icon{
      height: auto;
      font-size: 70%;
    }
    .pre .cartbtn i{
      font-size: 130%;
    }
    .icon .pre{
      margin-top: 1%;
    }
    .searchbar{
      width: 70%;
      padding: .5% 2% .5% 2%;
      margin-top: 10%;
    }
    .search-icon{
      width: 15%;
    }
    .search-input input{
      font-size: small;
    }
    .search-icon i{
      font-size: 100%;
    }
  }