.home-slide{
  z-index: 10;
  background-color: white;
  margin-top: 10%;
  position: relative;
  box-shadow: 3px 3px 9px rgb(36, 36, 36,.7);
  overflow: hidden;
  padding: 2% 0 0 ;
}
*::placeholder{
  font-family: 'Varela Round', sans-serif;
  font-size: 90%;
  font-weight: lighter;
  color: rgb(173, 170, 170);
  letter-spacing: .1rem;
}

                                                /* explore btn  */
.explore{
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50px;
  color: rgb(128, 64, 192);
  background-color: rgb(128, 64, 192);
  box-shadow: 1px 2px 10px rgba(34, 34, 34, 0.5);
  animation: border 2s ease-in-out infinite;
  padding: 0 auto 0 auto;
  overflow: hidden ;
  margin: 5% 0 0 47%;
  position: absolute;
  display: flex;
  flex-direction: row;
  transition: all .3s ease;
}
.explore-icon{
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 10%;
  border-radius:50px ;
}
.explore-icon i{
  font-size: 160%;
  color: white;
}
.explore-text{
  display: none;
  font-weight: 500;
  padding: 5% 0 2%;
}
.explore:hover{
  width: auto;
  padding-right:.75% ;
  background-color: rgb(162, 64, 192);
  margin-right: 10%;
}
.explore:hover .explore-text{
  display: flex;
  flex-direction: row;
  color: white;
}
.explore:hover .explore-icon{
  padding-top: 3%;
  transform: rotate(360deg);
}

                                                /* upload btn  */
.upload-wraper{
  height: 40px;
  width: 40px;
  z-index: 11;
  position: fixed;
  border-radius: 50px;
  /* background-color: white; */
  background-color: rgb(128, 64, 192);
  cursor: pointer;
  right: 0;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(136, 136, 136, 0.9);
  transition: all 0.4s ease-out ;
  overflow: hidden;
  margin: 0 1% 0;
}
.upload-btn{
  text-align: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.upload-icon{
  height: 40px;
  width: 40px;
  color: white;
  font-weight: 500;
  font-size: 140%;
  padding:5% 0 0;
  transition: all 0.4s ease-out;
}
.upload-text{
  display: none;
  font-size: 85%;
  font-weight: 500;
  padding: 5% 0 0 2% ;
  white-space: nowrap;
}
.upload-wraper:hover{
  width: 170px;
  box-shadow: 0px 3px 8px rgba(136, 136, 136, 0.5);
  /* background-color: rgb(128, 64, 192); */
  background-color: rgb(162, 64, 192);
}
.upload-wraper:hover .upload-text{
  display: inline-block;
  color: white;
}
.upload-wraper:hover .upload-icon{
  color: white;
  padding: 2% 0 0 5%;
  transform: rotate(360deg);
}

                                                      /* cards  */
.card-cont{
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom:3%;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgb(10, 10, 10,.25);
}
.card-cont:hover .save{
  display: block;
}
.cards{
  padding: 0 2% 1% 2%;
  border: #7358b7 1px;
}
.image_div{
  width: 100%;
  position: relative;
  transition: all .5s ease-out;
}
.image_div:hover .image_div{
  opacity: 0.3;
}
.image_div .img{
  width: 100%;
  height: 150px;
  border-radius: 2px 2px 0 0 ;
}
.card-content{
  width: 100%;
  text-align: left;
  padding: 2% 0 2% 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-all;
}
.card-content .card-name{
  padding:0 3%;
  font-size: 100%;
  height: 4vh;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.card-content span{
  width: 100%;
}
.disc{
  width: 100%; 
  padding: 1% 5% 0 8%;
  font-size: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  height: 6vh;
  overflow-wrap: break-word ;
}
.card-stars{
  font-size: 100%;
  padding-left:4%;
}
.save{
  display: none;
  position: absolute;
  right: 0;
  margin: 3% 3% 0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  transition: all .3s ease-out;
  box-shadow: 2px 2px 3px 3px rgb(12, 12, 12,.3) ;
}
.save-round{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  text-align: center;
}
.save-icon{
  font-size: 130%;
  padding: 10% 0 0 0;
}
.save-icon:hover{
  color: rgb(153, 11, 248);
}
.saved-temp{
  color: rgb(153, 11, 248);
}
/* #toggle:checked ~ .save-icon{
  display: block;
  color: #7358b7;
} */
.card-about{
  margin-top: 2%;
  height: 30px;
  display: flex;
  flex-direction: row;
  padding: 0 4%;
  justify-content: space-between;
}
.card-about span{
  width: 40%;
}
.card-sale{
  text-align: left;
  font-size: 90%;
}
.card-price{
  font-size: 120%;
  line-height: 1rem;
  text-align: center;
  font-weight: 500;
  color: rgb(2, 2, 2);
}
.card-btns{
  display: inline-block;
  /* padding: 0 1%; */
  width: 100%;
}
.cart-btn, .preview-btn{
  padding: 3% 3% 3% 0;
  font-size: 75%;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  color: white;
}
.cart-btn{
  padding: 3%;
  float: right;
  width: 45%;
  background-color: rgb(255,255,255);
  color: rgb(135, 67, 199);
  border:.07rem solid rgb(135, 67, 199);
  margin-right: 6%;
}
.cart-btn:hover{
  background-color: rgb(121, 57, 180);
  color: white;
}
.preview-btn{
  float: left;
  width: 35%;
  background-color: rgb(255,255,255);
  color: rgb(164, 74, 199);
  /* border:.1rem solid rgb(164, 74, 199); */
  margin-left: 6%;
} 
.preview-btn:hover{
  background-color: rgb(149, 42, 190);
  color: white;
}
.card-btn-title{
  margin-left: 5%;
}

                                                /* searchbar  */
.searchbar{
  width: 50%;
  margin: 0 auto 0 auto;
  padding: .5% 1% .5% 1%;
  height: auto;
  display: flex;
  border: #7358b7 2px solid;
  border-radius: 20px;
}
.search-icon{
  width: 7%;
}
.search-icon i{
  font-size: 125%;
  margin-top: 10%;
  color: rebeccapurple; 
}
.search-input{
  width: 90%;
}
.search-input input{
  width: 90%;
  font-size: 90%;
  border: none;
  color: rgb(85, 84, 84);
} 
.search-input input:focus{
  outline: none;
  caret-color:#7358b7;
  caret-shape: bar;
}
.trending{
  font-size: x-large;
  font-weight: bold;
  color: rgb(83, 83, 83);
  margin:2% 0 1% 3.5%; 
}
.seemore{
  float: right;
  padding-right:4.5% ;
  font-size: 120%;
  color: #aa9ab9;
}
.seemore i{
 font-size: 100%;
 font-weight: 500;
}
@media only screen and (min-width:480px) and (max-width:785px){
  .explore{
    margin-top: 0;
  }
  .card-cont{
    width: 100%;
    margin: 2% auto 0 auto;
  }
  .image_div .img{
    height: 120px;
  }
  .card-content h4{
    font-size: 100%;
  }
  .disc{
    font-size: 60%;
  }
  .stars{
    font-size: 12px;
  }
  .card-sale{
    font-size: 14px;
  }
  .card-price{
    font-size: 22px;
  }
  .card-content .card-name{
    font-size: 70%;
  }
  .searchbar{
    width: 70%;
    padding: .5% 2% .5% 2%;
  }
  .search-icon{
    width: 8%;
  }
  .seemore{
    width: 100%;
    font-size: medium; 
    text-align: right;
  }
}
  @media only screen and (max-width: 500px) {
  .card-scroller{
      width: 93%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      margin: 0 auto 0 auto;
      background-color: rgb(235, 222, 247);
      border-radius:3px;
    }
    .explore{
      position: absolute;
      margin-top: -3%;
      z-index: 10;
    }
    .upload-wraper{
      margin-bottom: 20%;
    }
    .upload-wraper:hover .upload-text{
      padding: 6% 0 0 2%;
    }
    .cards{
      height: auto;
      width: 500%;
      padding: 0 0 1% ;
      display: flex;
      flex-direction: row;
    }
    .trending{
      margin: 7% 0 3% 3% ;
    }
    .seemore{
      width: 100%;
      font-size: medium;
      text-align: right;
    }
    ::-webkit-scrollbar{
      height: 5px;
    }
    ::-webkit-scrollbar-track{
       background-color: rgb(248, 246, 246);
   }
    ::-webkit-scrollbar-thumb{
        background-color: rgb(64, 9, 128);
    }
    ::-webkit-scrollbar-thumb:hover{
        background-color: grey;
    }
    .card-cont{
      width: 90%;
      height: 285px;
      margin: 2% auto 0 auto;
      padding-bottom: 0;
    }
    .image_div .img{
      height: 120px;
    }
    .card-content .card-name{
      font-size: 100%;
    }
    .disc{
      font-size: 11px;
    }
    .stars{
      font-size: 15px;
      margin-left:3%;
    }
    .cart-btn, .preview-btn{
      font-size: 75%;
    }
    .searchbar{
      width: 70%;
      padding: .75% 2% 1% 2%;
      margin-top: 6%;
    }
    .search-icon{
      width: 15%;
    }
    .search-input input{
      font-size: small;
    }
    .search-icon i{
      font-size: 100%;
    }
  }