.footer{
    margin-top: 2%;
    height: auto;
    background: rgb(90, 45, 134);
}
.tabs{
    /* color: white; */
    display: grid;
    grid-template-columns: 170px 170px 170px 210px auto;
    padding:20px;
}
.columm{
    display:grid;
    grid-template-rows: 10px 10px 10px 10px ; 
}
.tabs ul li{
    color:rgb(236, 234, 234);
    text-align: left;
    font-size: 70%;
    margin: 3% 0 0 ;
    list-style: none;
    transition: all .3s ease;
}
.row i{
    margin: 30px 20px;
    font-size: 190%;
    color: rgb(225, 225, 225);
}
.tabs ul li:hover{
    color: white;
    font-size: 75%;
}
.row i:hover{
    /* color: white; */
   
    font-size: 200%;
}
.line{
    width: 70%;
    height: 1px;
    background-color:  white;
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerlogo{
    font-size: 160%;
    font-family: 'Fredoka One', cursive;
    color: rgb(223, 221, 221);
    margin-top: 1%;
}
.copyright{
    font-size: 10px;
    color: white;
    margin-top: -12px;
}

@media only screen and (max-width: 500px) {
    .footer{
        margin-top: 15%;
    }
    .tabs{
        display: inline-block;
    }
    .row{
        display: block;
        width: 50%;
    }
    .tabs ul li{
       text-align: center;
       margin-left: -20px;
    }
    .row i{
        font-size: 30px;
    }
    #ico{
        width: 120%;
        display: inline-flex;
        flex-direction: row;
        padding-right: 5%;
    }
    .whitelogo{
        width: 40%;
    }
}
@media only screen and (min-width:480px) and (max-width:768px){
    .tabs{
        display: inline-block;
    }
    .row{
        display: block;
        width: 50%;
    }
    .tabs ul li{
       text-align: center;
       margin-left: -20px;
       font-size: 15px;
    }
    .row i{
        font-size: 30px;
    }
    #ico{   
        width: 70%;
    }
    .whitelogo{
        width: 30%;
    }
}
