.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 45px;
    /* background-color: rgb(54, 44, 44); */
    background-color: white;
    overflow: hidden;
    /* /* position: fixed; */
    z-index: 11; 
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 8px 1px rgb(8, 8, 8,.1) ;
}
#nav-active{
    border-bottom: rebeccapurple 2px solid;
    font-weight: 400;
    transition: all .3s ease;
}
.logo-cont{
    width: 15%;
    float: left;
    /* padding: 0 0 10% 0 ; */
}
.logo{
    font-size: 190%;
    font-family: 'Fredoka One', cursive;
    background: -webkit-linear-gradient(60deg,#2596be , rgb(202, 69, 202) 40%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* color: rgb(170, 39, 170); */ 
    margin: 0 0 0 10%;
    float: left;
}
.v{
    color: rebeccapurple;
}
.top-cont{
    width: 85%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding:.3% 2% 0;
    float: right;
    text-align: right;
    justify-content: right;
}
.top-icon{
    font-size: 100%;
    margin:auto 0 auto 20px;
    color: rebeccapurple;
    text-align: right;
    position: relative;
    transition: all .3s ease;
}
.top-icon p{
    margin-top: 10px;
}
.top-icon:hover{
    color: rgb(73, 9, 110);
    font-size: 110%;
}
.reg-but{
    padding-bottom: 7%;
}
.top-cont i{
    padding:0 20% 30% 20%;
}
.cart-strength{
    left: 12px; bottom: 1.1rem;
    height: 17px;
    width: 17px;
    padding: 4px 1px 0 0 ;
    text-align: center;
    font-weight: 500;
    font-size: 70%;
    background-color: rgb(197, 26, 240);
    color: white;
    position: absolute;
    border-radius: 50px;
    font-family: 'Varela Round', sans-serif;
}
@media only screen and (max-width:480px) {
    .top{
        width: 100%;
        height: 7.5%;
    }
    .logo-cont{
        width: 30%;   
    }
    .logo{
        /* width: 100%; */
        margin: 3.5% 0 0 10%;
        font-size: x-large;
    }
    .top-cont{
        width: 70%;
    }
    .top-icon{
        font-size: 95%;
        margin-left: 10px;
    }
    .cart-strength{
        height: 15px;
        width: 15px;
        padding-top: 3px;
        bottom: 1rem;
    }
}