@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.preview{
    width: 96%;
    margin: 1.5% auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 244, 248);
    border-radius: 5px;
    padding: 0 0 2% 4%;
    text-transform: capitalize;
}
.preview-details{
    width: 100%; 
    height: auto;
    display: flex;
    flex-direction: row;
}
.userinfo{
    margin:5% 0 0;
    width: 100%;
    display: flex;
}
.user-dp{
    height: 27px;
    width: 26px;
    overflow: hidden;
    border-radius: 50%;
}
.user-dp img{
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
}
.user-name{
    color: rgb(92, 91, 91);
    font-size: 75%;
    font-weight: 500;
    margin: 1% 0 0 3%;
}
.category{
    color: rgb(92, 91, 91);
    margin: 2% 0 0;
}
.preview-title{
    width: 35%;
    word-break: break-all;
    word-wrap: break-word;
    padding: 5% 0 0 ;
}
.preview-name{
    /* text-align: center; */
    margin:1% 0 5%;
    color: rgb(70, 69, 69);
}
.preview-desc{
    width: 85%;
    height: auto;
    max-height: 38%;
    font-size: 80%;
    color: rgb(94, 93, 93);
    font-weight: 500;
    text-align: justify;
    overflow: hidden;
}
.preview-stars{
    margin:1% 0 ;
    font-size: large;
}
.preview-stars i{
    margin: 0 .5%;
}
.preview-btns{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 0 17% 0 0;
    margin:7% 0 ;
}
.preview-cart , .buy-btn{
    margin: 1% 0 ;
    border-radius: 2px;
    padding: 1% 0 1% 0;
    font-weight:500;
    border: none;
}
.preview-cart{
    color: white;
    background-color: rgb(127, 76, 179);
}
.preview-cart:hover{
    background-color: rgb(145, 77, 212);
}
.buy-btn{
    width: 100%;
    background-color: rgb(43, 174, 207);
    color: white;
}
.buy-btn:hover{
    background-color: rgb(57, 189, 223);
}
.preview-btns button i{
    margin: 0 3%;
}
.image-carousel{
    margin:2% 0;
    width: 65%;
    height: auto;
    padding: 1%; 
}
.carousel-img-cont{
    width: 80%;
    height: auto;
    max-height:350px ;
    overflow-y: scroll;
    padding: 0 .65%;
}
.carousel-cont{
    width: 100%;
    /* background-color: rgb(218, 238, 255); */
    padding: 3% 1% 0 1%;
    border: none;
    height: auto;
    border-radius: 5px;
}

/* Image Carousel  */

.image-carousel img{
    width: 100%;
}
.slide{
    transform: scale(0.7);
    transition: transform 700ms;
    opacity: 0.7;
}
.activeslide{
    transform: scale(1.1);
    opacity: 1;
    margin-bottom: 4%;
}
.arrow{
    cursor: pointer;
    position: absolute;
    color: rebeccapurple;
    border: none;
    border-radius: 5px;
    font-size: 200%;
    z-index: 10;
    top: 0;
    height: 100%;
    padding: 15% 0 0 ;
    background-color: transparent;
    width: 10%;
}
.next{
    right: 0;
    text-align: right;
}
.prev{
    left: 0;
}

/* Features */

.features{
    display: flex;
    flex-wrap: wrap;
}
.features-title{
    font-size: 120%;
    color: rgb(44, 44, 44);
}
.tags-cont, .technologies-cont{
    width: 50%;
    margin: 2% 0;
}
.tags-list{
    margin: 1.5% 0 0;
    display: flex;
    flex-wrap: wrap;
}
.tag, .technology{
    font-weight: 500;
    font-size: 65%;
    padding: 1% 2% 1% 2%;
    margin: .5% .75%;
    color: rgb(66, 66, 66);
    border: 1px solid rgb(167, 165, 165);
    border-radius: 25px;
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}
.tag:hover, .technology:hover{
    background-color: rgb(220, 220, 220);
}

/* Reviews */
.review-cont{
    width: 100%;
    height: auto;
    margin: 1% 0 0;
}
.reviews{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5% 0 0 ;
}
.review-card{
    width: 30%;
    height: auto;
    border-radius: 5px;
    max-height: 180px;
    background-color: white;
    padding: .25% 2% .5% 2%;
    margin: 2% 0 0 0;
}
.feedback-stars{
    font-size: 80%;
    margin: 1% 0 .5%;
}
.feedback{
    font-size: 75%;
    padding-left: 5%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.qoute-icon i{
    font-size: 70%;
    color: rebeccapurple;
}

/* review form  */
.feedback-youtube{
    display: flex;
    flex-direction: row;
    margin: 3% 0 0 0;
}
.feedback-form{
    width: 40%;
    padding: 2% 0 ;
    /* box-shadow: 1px 1px 6px rgb(201, 200, 200,.2); */
    text-align: center;
    display: flex;
    background-color: white;
    flex-direction: column;
    border: none;
    border-radius: 5px;
}
.feedback-title, .closing{
    font-weight: 500;
    color: rgb(56, 56, 56);
    margin: 5% 0 0 ;
    background-color: white;
}
.feedback-title{
    border-radius: 5px 5px 0 0 ;
}
.closing{
    border-radius: 0 0 5px 5px ;
}
.feedback-inputs{
    display: flex;
    flex-direction: column;
    padding: 2% 0 0;
    background-color: white;
}
.feedback-mail, .feedback-text{
    width: 70%;
    margin: 3% auto 0 auto;
    outline:none;
    font-size: 75%;
    word-spacing:normal;
    padding: 1.5% 3%;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 7px;
    color: rgb(114, 114, 114);
}
.feedback-mail::placeholder, .feedback-text::placeholder{
    font-size: 85%;
}
.feedback-text{
    height: 70%;
    resize: none;
}
.feedback-btn{
    margin: 5% auto 0;
    width: 40%;
    border: none;
    background-color: rgb(129, 48, 211);
    border-radius: 35px;
    color: white;
    padding: 2% 0;
    font-weight: 500;
}
.feedback-btn:hover{
    background-color: white;
    color:  rgb(129, 48, 211);
    border: rgb(129, 48, 211) 1px solid;
}
.feedbackform-stars{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 1% auto;
    justify-content: space-around;   
}
.stars{
    transition: color 150ms;
    cursor: pointer;
    margin: 2% 0 0 ;
    font-size: 150%;
}
.stars:hover{
    color: rgb(248, 215, 31);
}
.ratings-radio{
    display: none;
}
.youtube{
    width: 60%;
    background-color: transparent;
    /* display: flex;
    flex-direction: row; */
    padding: 0 0 0 1%;
}
.youtube img{
    width: 35%;
    transition: all .10s ease;
    padding: auto 0;
    margin: 5% 0 0 31%;
}
.youtube img:hover{
    margin-left: 32%;
}
.youtube-content{
    text-align: center;
}
.youtube-span{
    width: 80%;
    margin: 0 auto;
}
.youtube-title{
    width: 100%;
    white-space: nowrap;
}


/* privew Responsive */

@media only screen and (max-width: 500px) { 
.preview{
    margin-top: 4% ;
    width: 90%;
}
.preview-details{
    flex-direction: column-reverse;
}   
.image-carousel{
    margin: 5% 0 5% 0;
    width: 100%;
    padding: 0 3% 0 3%;
}
.carousel-img-cont{
    width: 90%;
    height: auto;
    max-height: 200px;
}
.carousel-cont{
    padding-bottom:6% ;
}
.preview-title{
    width: 100%;
    padding: 0 5% 0 5%;
}
.preview-name{
    margin-bottom: 4%;
}
.preview-desc{
    width: 97%;
    font-size: 60%;
}
.preview-stars{
    font-size: medium;
}
.arrow{
    display: none;
    font-size: 150%;
    padding: 15% 0;
}
.preview-btns{
    width: 80%;
    padding: 2% auto 2% auto;
    margin: 0 auto 0 auto;
    font-size: 80%;
}
.preview-btns button{
    margin: 2% 0;
}
.tag,.technology{
    font-size: 55%;
}
.tags-cont, .technologies-cont{
    width: 100%;
}
.reviews{
    flex-direction: column;
}
.review-card{
    margin: 2.5% 0 0;
    width: 100%;
}
.feedback-youtube{
    flex-direction: column-reverse;
}
.youtube{
    width: 100%;
    margin: 5% 0 0 0;
}
.feedback{
    font-size: 70%;
}
.feedback-form{
    width: 90%;
    margin-top: 10% ;
}
}