.analysis{
    width: 78%;
    height: 100%;
    margin:0 0 0 20%;
    border-radius:5px ;
    overflow: hidden;
    padding: 2% 0 ;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.stats-card{
    width: 22%;
    padding: 1.5%;
    text-align: center;
    /* border: rgb(114, 114, 114) 1px solid; */
    border-radius: 3px;
}
.circle{
    border: 10px rebeccapurple solid;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 5% auto;
}
.stats-n{
    color: rebeccapurple;
    text-align: center;
    font-size: 120%;
    font-weight: 400;
    margin: 2% 0 0;
}
.stats{
    color: rebeccapurple;
    font-size: 150%;
    padding: 35px 0 0;
    display: inline-block;
}
/* .stats-card:hover{
    box-shadow:inset 1px 2px 3px 1px rgb(46, 46, 46,.3);
} */
.creator-table{
    width: 90%;
    margin:2% 0 0 4%;
}
.table-background{
    margin: 2% 0 0 1%;
    border-radius: 10px;
     padding: 1.5% 2% 1% 1%;
     background-color: white;
 }
 .template-table{
     /* border: #8a66fe 1px solid; */
     max-height: 80vh;
     overflow-y: scroll ;
     scroll-behavior: smooth;
     border-radius: 10px;
 }
 .table-cont{
     border-collapse:separate;
     border-spacing:0 10px;
     width: 100%;
     background-color: white;
     padding: 0 1.5%;
     border-radius: 10px ;
 }
 .table-header:first-child {
     border-radius: 5px 0 0 5px;
 }
 .table-header:last-child{
     border-radius: 0 5px 5px 0;
 }
 .table-row:first-child {
     border-radius: 5px 0 0 5px;
 }
 .table-header{
     background-color: rebeccapurple;
     padding: 1% 2%;
     color: rgb(240, 238, 238);
     font-size: 100%;
     text-align: left;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
 }
 .table-row{
     border: grey 1px solid;
     transition: all .3s ease;
     font-size: 90%;
     /* width: auto; */
     /* border-radius: 10px; */
 }
 .table-row:hover{
     background-color: rgb(232, 244, 254);
     transform: translate(-3px -3px);
     font-size: 95%;
 }
 .table-column{
     padding: .75% 2%;
 }
 .table-row:nth-child(odd){
     border: rgb(245, 244, 250) 1px solid;
 }
 ::-webkit-scrollbar{
     width: 3px;
 }
 ::-webkit-scrollbar-track{
     background-color: rgb(223, 222, 222);
     border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb{
     background-color: rgb(173, 171, 171);
     border-radius: 50px;
 }
 ::-webkit-scrollbar-button{
     display: none;
 }
 
@media only screen and (min-width:480px) and (max-width:768px){
    .analysis{
        margin: 30%;
        width: 100%;
    }
    .stat-n{
        font-size: 90%;
    }
}
@media only screen and (max-width: 500px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .circle{
        height: 100px;
        width: 100px;
    }
    .analysis{
        width: 100%;
        overflow: hidden;
        margin-left: 0;
    }
    .stats-card{
        width: 50%;
        margin: 2% auto 0 auto;
    }
    .circle{
        margin-bottom: 1%;
    }
    .stat-n{
        width: 100%;
        font-size: 90%;
        margin-left: 10px;
        margin-top: 15%;
    }
    .creator-table{
        width: 100%;
        margin: 0 auto 0 auto;
        font-size: 85%;
    }
    .template-table{
     overflow-x: scroll ;
    }
}
@keyframes animate {
    100%{
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dashoffset: 500;
    }
    0%{
        stroke-dashoffset: 0;
    }
    
}