.buyer-dashboard{
    width: 100%;
    display: inline-block;                                                                                              
    height: auto;
}
.profile p{
    color: white;
    font-size: 20px; 
    font-weight: 700;
}

.pic{
    margin: 10px 0 10px 0;
    width: 60%;
    height: auto;
    overflow: hidden;
    border-radius:50%;
    /* border: 1px rgb(100, 99, 99) solid; */
}
.dash-side-bar{
    width: 18%;
    float: left;
    position: absolute;
    background-color:rebeccapurple ;
    height: 100%;
    /* border-right: 2px solid rebeccapurple ; */
    box-shadow: 4px 0 5px -3px grey;
    position: fixed;
    z-index: 10;
}
.dash-side-bar .info{
    width: auto;
    /* border: 5px orangered solid; */
}
.dash-side-bar .info p{
    margin: 10px 0 10px 12px;
    font-size: 13px;
    font-weight:500;
    color: white;
    text-align: left;
    /* border: 1px olive solid; */
}
.dash-side-bar #mainbar{
    width: 105%;
}
.mainbar{
    width: 105%;
    margin-left: -12px;
    height: .1em;
    background-color: white;
}
.dash-side-bar .info .bar{
    width: 110%;
    margin-left: -12px;
    height: .05em;
    background-color:rgb(134, 132, 132);
}
.check{
    display: none;
}
@media only screen and (max-width: 500px) {
    .dash-side-bar{
        width: 100%;
        position: relative;
        z-index: 2; 
    }
    .pic{
        width: 30%;
    }
    .dash-side-bar .info p{
        text-align: center;
    }
    .dash-side-bar .info .bar{
        width: 103%;
    }
    .mainbar{
        width: 103%;
    }
    /* .check:checked~.info{
        display: none;
    } */
}