.my-order{
    width: 75%;
    height: auto;
    margin-left: 21%;
    /* background-color: rgb(90, 30, 146,.2); */
    border-radius:5px ;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-transform: capitalize;
}
.order-card{ 
    padding:0 0 1.5% 0;
    height: auto;
    width: 80%;
    margin: 2% auto 0 auto;
    /* max-height: 60vh;
    overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow:1px 1px 2px rgb(15, 15, 15,.3);
    transition: all .4s ease;
}
.order-card:hover{
    background-color: rgb(240, 238, 252);
    transform: scale(1.03 ,1.03);
}
.order-img{
    width: 20%;
    height: 100%;
    margin-left: 2%; 
    overflow: hidden;
}
.order-img img{
    width: 80%;
    border-radius:3px ;
}
.order-date{
    width: 100%;
    height: 15px;
    text-align: right;
    /* background-color: rgb(163, 162, 162); */
}
.order-date p{
    margin:1% 2%;
    font-size: 60%;
}
.order-cont{
    display: flex;
    flex-direction: row;
}
.order-details{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 60%;
}
.order-name{
    font-size: 100%;
}
.order-desc{
    margin-top: 1%;
    text-transform: capitalize;
    font-size: 60%;
    text-overflow: ellipsis;
    overflow:clip;
}
.order-id{
    font-size: 70%;
    margin-top: 1.5%;
}
.order-price{
    width: 10%;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 100%;
}
@media only screen and (min-width:480px) and (max-width:768px){
    .order-card{width: 100%;}
    .my-order{margin-left: 30%;}
}
@media only screen and (max-width: 500px) {
    .my-order{
        width: 96%;
        height: auto;
        margin:6% auto 5% auto;
        padding: 2% 2% 5% 2%;
    } 
    .order-card{
        width: 100%;
        margin: 2.5% 0 0 ;
    }
    .order-date p{
        font-size:60% ;
    }
    .order-price{
        font-size: 100%;
        margin:15% 0 0 5%;
    }
    .order-name{
        font-size: 15px;
        /* border: 1px solid black; */
        margin-left: 27%;
    }
    .order-desc{
        font-size: 50%;
        /* border:1px solid black; */
        width: 98%;
        margin-left: 27%;
        text-align: justify;
    }
    .order-id{
        font-size: 10px;
        margin-left: 27%;
    }
    .order-img img{
        width: 170%;
        height: auto;
    }
}