.upload-template{
    width: 72%;
    height: auto;
    margin:2% 0 7% 18%;
} 
.form1 , .documents{
    margin: 15px 13% 0 13%;
    width: 70%;
}
.n{
    margin-top: 10px;
    margin-left: 15%;
}
.save{
    float: right;
}
.previous{
    float: left;
}
@media only screen and (max-width: 500px) {
    .upload-template{
        width: 100%;
        margin:5% 0 10% 1%;
    }

}