.upload-template{
    width: 72%;
    height: auto;
    background-color: rgb(90, 30, 146,.2);
    border-radius:5px ;
    margin:1% 0 7% 21%;
    padding: 2% 0 ;
} 
.form1 , .documents{
    margin: 15px 13% 0 13%;
    width: 70%;
}
.n{
    margin: 1% 0 2% 10%;
}
.save{
    float: right;
}
.previous{
    float: left;
}
@media only screen and (max-width: 500px) {
    .upload-template{
        width: 100%;
        margin:5% 0 10% 1%;
    }

}