.oops{
    width: 100%;
    margin: 0 auto 0 auto;
} 
.msg{
    margin-top: 1%;
    font-size: 25px;
    color: rgb(24, 24, 24);
    text-align: center;
}
.crt{
    display: flex;
    flex-direction: column;
    border-top: rebeccapurple 15px solid;
    border-bottom: rgb(231, 231, 231) 2px solid;
    border-radius: 8px;
    padding: 1% 0 1% 0;
    width: 90%;
    max-height: 60vh;
    margin: 0 auto 0 auto;
}
.cart-cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    width: 90%;
    margin: 0 auto 0 auto;
}
.crt-my-order{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding:0 1% 0 1% ;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(248, 246, 246);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(168, 167, 167);
}
::-webkit-scrollbar-thumb:hover{
    background-color: grey;
}
::-webkit-resizer{
    background-color: black;
}

.crt-order-card{ 
    margin:1% 0 0 2.5%;
    padding:1% 0 1% 0;
    height: auto;
    width: 95%;
    height: auto;
    scroll-behavior: smooth;
    border-bottom: rgb(187, 186, 186) 1px solid;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    border-radius: 2px;
}
.crt-order-card:hover{
    background-color: rgb(247, 244, 2440.6);
}
.crt-order-img{
    width: 15%;
    height: auto;
    margin-left: 2%; 
}
.crt-order-img img{
    width: 100%;
    height: auto;
    border-radius:3px ;
}
.crt-order-date{
    width: 100%;
    height: 20px;
    text-align: right;
}
.crt-order-date p{
    margin:1% 2%;
    font-size: 13px;
}
.crt-order-cont{
    display: flex;
    flex-direction: row;
}
.crt-order-details{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 60%;
}
.crt-order-name{
    font-size: 85%;
    font-weight: 500;
}
.crt-order-desc{
    font-size: 10px;
    text-overflow: ellipsis;
    overflow:clip;
}
.crt-order-id{
    font-size: 12px;
    margin-top: 1.5%;
}
.crt-order-price{
    width: 10%;
    margin-top: 2%;
    margin-left: 8%;
    font-size: large;
    font-weight: 500;
    color: rgb(75, 74, 74);
}
.continue-shopping{
    margin:1% 0 0 5%;
    width: 20%;
    text-decoration: none;
    font-size: 150;
    font-weight: 500;
    color:rgb(86, 13, 158); 
}
.continue-shopping:hover{
    color: rgb(119, 24, 214);
}
.checkout-div{
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
}
.checkout{
    width: 30%;
    margin:1% 0 0 auto;
    float: right;
    border-radius: 6px;
    border-bottom: rgb(231, 231, 231) 2px solid;
}
.totalamnt-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    border-top: rebeccapurple 2px solid;
    font-weight: bold;
    font-size: large;
    color: rgb(71, 70, 70);
}
.totalamnt-div h5{
    font-size: medium;
    margin-left: 2%;
    width: 80%;
}
.pr{
    width: 20%;
    margin-right: 1%;
} 
.chout-btn{
    width: 100%;
}
.chout{
    margin: 7% 3% ;
    background-color:rgb(124, 36, 212);
    color: white;
    border: transparent;
    border-radius: 3px;
    padding: 2% 15% 2% 15%; 
    font-weight: 500;
    float: right;
    font-size: 12px;
}
.chout:hover{
    background-color: rgb(118, 48, 187); 
}
#del{
    margin-top: 185%;
    color: rgb(97, 96, 96);
}
#del:hover{
    color: black;
}
@media only screen and (max-width: 500px) {
    .msg{
        margin-top: 15%;
        font-size: larger;
    }
    .crt{
        width: 100%;
        margin: 0 auto 0 auto;
        max-height: 60vh;
        height: auto;
    }
    .cart-cont{
        display: flex;
        flex-direction: column;
        padding: 2%; 
        width: 100%;
    }
    .crt-my-order{
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
        padding:0 1% 0 1% ;
        margin-top: 1%;
    }
    .crt-order-card{
        height: 100px;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }
    #del{
        font-size: small;
        margin:0.5% 0 0 -15% ;
    }
    .crt-order-details{
        width: 65%;
    }
    .crt-order-date p{
        font-size:10px ;
    }
    .crt-order-price{
        font-size: medium;
        margin:15% 0 0 1%;
        padding-left: 8%;
        /* border: black 1px solid; */
    }
    .crt-order-name{
        font-size: smaller;
        /* border: 1px solid black; */
        margin-left: 27%;
    }
    .crt-order-desc{
        font-size: xx-small;
        /* border:1px solid black; */
        width: 80%;
        text-overflow: ellipsis;
        margin-left: 27%;
        text-align: justify;
    }
    .crt-order-id{
        font-size: 10px;
        margin-left: 27%;
    }
    .crt-order-img{
        /* border: darkblue 1px solid; */
        height: auto;
    }
    .crt-order-img img{
        width: 170%;
        height: auto;
    }
    .checkout-div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .checkout{
        width: 85%;
        height: auto;
        padding-top: 2%;
        margin:5% 0 0 5.5%;
        display: flex;
        flex-direction: row;
        border-top: rebeccapurple 2px solid;
        border-radius: 0;
    }
    .continue-shopping{
        font-size: small;
        width: 60%;
        /* border: blue 1px solid; */
    }
    .totalamnt-div{
        font-size: medium;
        border: none;
    }
    /* .pr{
        border: black 1px solid;
        margin: 0 0 0 2% ;
    } */
    .totalamnt-div h5{
        font-size: medium;
        /* width: 60%;
        border: black 1px solid; */
    }
    .checkout p{
        margin-left: 7%;
    }
}